In [87]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [88]:
! pip install -i https://test.pypi.org/simple/ my-krml-tyl

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: my-krml-tyl in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (0.1.4)
Requirement already satisfied: pandas==2.0.1 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from my-krml-tyl) (2.0.1)
Requirement already satisfied: scikit-learn==1.2.2 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from my-krml-tyl) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-tyl) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-tyl) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-tyl) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-tyl) (1.25.2)
Requirement already satisfied: scipy>=1.3.2 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from scikit-learn==1.2.2->my-krml-tyl) (1.9.3)
Requirement already satisfied: joblib>=1.1.1 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from scikit-learn==1.2.2->my-krml-tyl) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from scikit-learn==1.2.2->my-krml-tyl) (3.2.0)
Requirement already satisfied: six>=1.5 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas==2.0.1->my-krml-tyl) (1.16.0)

In [89]:
import pandas as pd
import numpy as np
df = pd.read_pickle('../data/interim/optimized_df_final.pkl')

In [90]:
df.head()

,searchDate,flightDate,startingAirport,destinationAirport,isBasicEconomy,isRefundable,isNonStop,totalFare,totalTravelDistance,avgFare,flightDuration,cabinCode,flightDepartureHour,flightDepartureMinute
17,2022-04-23,2022-06-17,ATL,BOS,False,False,False,302.200012,947.0,302.200012,13980,c,12,22
26,2022-04-23,2022-06-17,ATL,BOS,False,False,False,392.100006,956.0,392.100006,12480,c,13,0
138,2022-04-23,2022-06-17,ATL,DTW,True,False,False,291.200012,1278.0,291.200012,15240,c,20,0
237,2022-04-23,2022-06-17,ATL,LAX,True,False,False,348.200012,2245.0,348.200012,21300,c,22,50
319,2022-04-23,2022-06-17,ATL,LGA,True,False,False,262.200012,1118.0,262.200012,12420,c,23,54

In [91]:
df['totalTravelDistance'].head()

17      947.0
26      956.0
138    1278.0
237    2245.0
319    1118.0
Name: totalTravelDistance, dtype: float32

In [92]:
df.shape

(1721518, 14)

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1721518 entries, 17 to 13519998
Data columns (total 14 columns):
 #   Column                 Dtype
---  ------                 -----
 0   searchDate             datetime64[ns]
 1   flightDate             datetime64[ns]
 2   startingAirport        category
 3   destinationAirport     category
 4   isBasicEconomy         bool
 5   isRefundable           bool
 6   isNonStop              bool
 7   totalFare              float32
 8   totalTravelDistance    float32
 9   avgFare                float32
 10  flightDuration         uint16
 11  cabinCode              category
 12  flightDepartureHour    uint8
 13  flightDepartureMinute  uint8
dtypes: bool(3), category(3), datetime64[ns](2), float32(3), uint16(1), uint8(2)
memory usage: 75.5 MB

In [94]:
df.describe()

,searchDate,flightDate,totalFare,totalTravelDistance,avgFare,flightDuration,flightDepartureHour,flightDepartureMinute
count,1721518,1721518,1.721518e+06,1.721518e+06,1.721518e+06,1.721518e+06,1.721518e+06,1.721518e+06
mean,2022-05-01 18:37:39.249801472,2022-05-31 00:39:37.217316864,4.339669e+02,1.770345e+03,4.342004e+02,1.862113e+04,1.168175e+01,2.549481e+01
min,2022-04-16 00:00:00,2022-04-17 00:00:00,2.397000e+01,9.700000e+01,2.397000e+01,2.760000e+03,0.000000e+00,0.000000e+00
25%,2022-04-23 00:00:00,2022-05-12 00:00:00,2.672100e+02,1.104000e+03,2.688803e+02,1.356000e+04,7.000000e+00,7.000000e+00
50%,2022-05-02 00:00:00,2022-05-31 00:00:00,3.966000e+02,1.770345e+03,3.966900e+02,1.830000e+04,1.100000e+01,2.600000e+01
75%,2022-05-09 00:00:00,2022-06-18 00:00:00,5.453400e+02,2.501000e+03,5.426010e+02,2.382000e+04,1.500000e+01,4.100000e+01
max,2022-05-19 00:00:00,2022-07-17 00:00:00,8.260610e+03,4.430000e+03,8.260610e+03,5.910000e+04,2.300000e+01,5.900000e+01
std,NaN,NaN,2.536937e+02,8.083209e+02,2.499594e+02,6.643062e+03,5.093567e+00,1.894282e+01

In [95]:
(df['searchDate']>df['flightDate']).sum()

0

In [96]:
df['flightDate_month'] = df['flightDate'].dt.month
df['flightDate_day'] = df['flightDate'].dt.day
df['flightDate_dow'] = df['flightDate'].dt.dayofweek

In [97]:
df[['flightDate','flightDate_month','flightDate_day','flightDate_dow']].head()

    flightDate  flightDate_month  flightDate_day  flightDate_dow
17  2022-06-17                 6              17               4
26  2022-06-17                 6              17               4
138 2022-06-17                 6              17               4
237 2022-06-17                 6              17               4
319 2022-06-17                 6              17               4

In [98]:
df.columns

Index(['searchDate', 'flightDate', 'startingAirport', 'destinationAirport',
       'isBasicEconomy', 'isRefundable', 'isNonStop', 'totalFare',
       'totalTravelDistance', 'avgFare', 'flightDuration', 'cabinCode',
       'flightDepartureHour', 'flightDepartureMinute', 'flightDate_month',
       'flightDate_day', 'flightDate_dow'],
      dtype='object')

In [99]:
df.drop(['searchDate','flightDate'],axis=1, inplace = True)

In [100]:
from sklearn.preprocessing import LabelEncoder
cat_cols = ['startingAirport', 'destinationAirport', 'cabinCode']

In [101]:
df['cabinCode'].value_counts()

cabinCode
c    1702922
p       8403
f       8402
b       1791
Name: count, dtype: int64

In [102]:
df['totalTravelDistance'].isna().sum()

0

In [103]:
df.tail()

,startingAirport,destinationAirport,isBasicEconomy,isRefundable,isNonStop,totalFare,totalTravelDistance,avgFare,flightDuration,cabinCode,flightDepartureHour,flightDepartureMinute,flightDate_month,flightDate_day,flightDate_dow
13519994,SFO,PHL,False,False,False,962.200012,2663.0,855.697998,23400,c,7,53,5,27,4
13519995,SFO,PHL,False,False,False,1007.859985,2978.0,734.979309,26460,c,23,35,5,27,4
13519996,SFO,PHL,False,False,False,1013.460022,2978.0,748.539978,26280,c,21,30,5,27,4
13519997,SFO,PHL,False,False,False,1133.099976,954.0,1133.099976,21900,p,6,34,5,27,4
13519998,SFO,PHL,False,False,False,1202.000000,3051.0,659.648865,26580,c,18,30,5,27,4

In [104]:
df.head()

,startingAirport,destinationAirport,isBasicEconomy,isRefundable,isNonStop,totalFare,totalTravelDistance,avgFare,flightDuration,cabinCode,flightDepartureHour,flightDepartureMinute,flightDate_month,flightDate_day,flightDate_dow
17,ATL,BOS,False,False,False,302.200012,947.0,302.200012,13980,c,12,22,6,17,4
26,ATL,BOS,False,False,False,392.100006,956.0,392.100006,12480,c,13,0,6,17,4
138,ATL,DTW,True,False,False,291.200012,1278.0,291.200012,15240,c,20,0,6,17,4
237,ATL,LAX,True,False,False,348.200012,2245.0,348.200012,21300,c,22,50,6,17,4
319,ATL,LGA,True,False,False,262.200012,1118.0,262.200012,12420,c,23,54,6,17,4

In [105]:
df.columns

Index(['startingAirport', 'destinationAirport', 'isBasicEconomy',
       'isRefundable', 'isNonStop', 'totalFare', 'totalTravelDistance',
       'avgFare', 'flightDuration', 'cabinCode', 'flightDepartureHour',
       'flightDepartureMinute', 'flightDate_month', 'flightDate_day',
       'flightDate_dow'],
      dtype='object')

In [106]:
df.head()

,startingAirport,destinationAirport,isBasicEconomy,isRefundable,isNonStop,totalFare,totalTravelDistance,avgFare,flightDuration,cabinCode,flightDepartureHour,flightDepartureMinute,flightDate_month,flightDate_day,flightDate_dow
17,ATL,BOS,False,False,False,302.200012,947.0,302.200012,13980,c,12,22,6,17,4
26,ATL,BOS,False,False,False,392.100006,956.0,392.100006,12480,c,13,0,6,17,4
138,ATL,DTW,True,False,False,291.200012,1278.0,291.200012,15240,c,20,0,6,17,4
237,ATL,LAX,True,False,False,348.200012,2245.0,348.200012,21300,c,22,50,6,17,4
319,ATL,LGA,True,False,False,262.200012,1118.0,262.200012,12420,c,23,54,6,17,4

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1721518 entries, 17 to 13519998
Data columns (total 15 columns):
 #   Column                 Dtype
---  ------                 -----
 0   startingAirport        category
 1   destinationAirport     category
 2   isBasicEconomy         bool
 3   isRefundable           bool
 4   isNonStop              bool
 5   totalFare              float32
 6   totalTravelDistance    float32
 7   avgFare                float32
 8   flightDuration         uint16
 9   cabinCode              category
 10  flightDepartureHour    uint8
 11  flightDepartureMinute  uint8
 12  flightDate_month       int32
 13  flightDate_day         int32
 14  flightDate_dow         int32
dtypes: bool(3), category(3), float32(3), int32(3), uint16(1), uint8(2)
memory usage: 69.0 MB

In [108]:
df['isBasicEconomy'] = df['isBasicEconomy'].astype(int)

In [109]:
df['isRefundable'] = df['isRefundable'].astype(int)

In [110]:
df['isNonStop'] = df['isNonStop'].astype(int)

In [111]:
df.drop(['totalFare'],axis=1, inplace = True)

In [112]:
df.head()

,startingAirport,destinationAirport,isBasicEconomy,isRefundable,isNonStop,totalTravelDistance,avgFare,flightDuration,cabinCode,flightDepartureHour,flightDepartureMinute,flightDate_month,flightDate_day,flightDate_dow
17,ATL,BOS,0,0,0,947.0,302.200012,13980,c,12,22,6,17,4
26,ATL,BOS,0,0,0,956.0,392.100006,12480,c,13,0,6,17,4
138,ATL,DTW,1,0,0,1278.0,291.200012,15240,c,20,0,6,17,4
237,ATL,LAX,1,0,0,2245.0,348.200012,21300,c,22,50,6,17,4
319,ATL,LGA,1,0,0,1118.0,262.200012,12420,c,23,54,6,17,4

In [113]:
df.shape

(1721518, 14)

In [114]:
df_cleaned=df.copy()

In [115]:
from my_krml_tyl.data.sets import pop_target
df_cleaned, target = pop_target(df_cleaned, target_col='avgFare')

In [116]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder
num_cols = ['isBasicEconomy',
       'isRefundable', 'isNonStop', 'flightDepartureHour',
       'flightDepartureMinute', 'flightDate_month', 'flightDate_day',
       'flightDate_dow']

In [117]:
cat_cols = ['startingAirport', 'destinationAirport']

In [118]:
scaler = StandardScaler()

In [119]:
num_features = pd.DataFrame(scaler.fit_transform(df_cleaned[num_cols]), columns=df_cleaned[num_cols].columns)

In [120]:
ohe = OneHotEncoder(sparse_output=False, drop='first')

In [121]:
cat_features = ohe.fit_transform(df_cleaned[cat_cols])

In [122]:
cat_features = pd.DataFrame(cat_features, columns=ohe.get_feature_names_out())

In [123]:
cabin_ord = OrdinalEncoder(categories=[['c','p','f','b']])
ord_cabin_feature = cabin_ord.fit_transform(df_cleaned[['cabinCode']])
ord_cabin_feature = pd.DataFrame(ord_cabin_feature, columns=['cabinCode'])

In [124]:
features = num_features.copy()
features[ohe.get_feature_names_out()] = cat_features[ohe.get_feature_names_out()]
features['cabinCode'] = ord_cabin_feature['cabinCode']

In [125]:
#features.to_csv('../data/interim/dataset_prepared.csv', index=False)

In [126]:
from joblib import dump
dump(scaler, '../models/scaler.joblib')
dump(ohe, '../models/ohe.joblib')
dump(cabin_ord, '../models/cabin_ord.joblib')

['../models/cabin_ord.joblib']

In [127]:
from my_krml_tyl.data.sets import split_sets_random

X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(features, target, test_ratio=0.2)

In [128]:
from my_krml_tyl.data.sets import save_sets

save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='../data/processed/')

In [129]:
from my_krml_tyl.models.null import NullRegressor

In [130]:
base_model = NullRegressor()

In [131]:
y_base = base_model.fit_predict(y_train)

In [132]:
from my_krml_tyl.models.performance import print_regressor_scores

print_regressor_scores(y_preds=y_base, y_actuals=y_train, set_name='Training')

#RMSE Training: 208.55026245117188
#MAE Training: 156.4805145263672


#RMSE Training: 249.4920654296875
#MAE Training: 171.6578826904297

RMSE Training: 249.4920654296875
MAE Training: 171.6578826904297

In [133]:
X_train.shape

(1032910, 39)

In [134]:
X_train.head()

,isBasicEconomy,isRefundable,isNonStop,flightDepartureHour,flightDepartureMinute,flightDate_month,flightDate_day,flightDate_dow,startingAirport_BOS,startingAirport_CLT,...,destinationAirport_IAD,destinationAirport_JFK,destinationAirport_LAX,destinationAirport_LGA,destinationAirport_MIA,destinationAirport_OAK,destinationAirport_ORD,destinationAirport_PHL,destinationAirport_SFO,cabinCode
1036894,-0.217611,-0.006377,-0.424325,-1.115477,-1.345883,0.593749,0.849816,0.041947,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1354541,-0.217611,-0.006377,-0.424325,-0.919150,-0.501236,-0.589412,-0.182238,1.047377,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
924388,-0.217611,-0.006377,-0.424325,-0.330172,0.237831,-1.772573,0.964489,1.550092,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1406329,-0.217611,-0.006377,-0.424325,-0.919150,0.237831,0.593749,-1.214293,1.550092,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
562863,-0.217611,-0.006377,-0.424325,-0.133846,1.293640,0.593749,-0.984948,-0.963483,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [135]:
from sklearn.ensemble import AdaBoostRegressor

In [136]:
model = AdaBoostRegressor(random_state=0, n_estimators=50, learning_rate=0.05, loss='square')

In [137]:
from my_krml_tyl.models.performance import fit_assess_regressor

In [138]:
model = fit_assess_regressor(model, X_train, y_train, X_val, y_val)

RMSE Training: 224.09421898798354
MAE Training: 156.99892194601674
RMSE Validation: 224.48093335465606
MAE Validation: 157.06643197084387

In [139]:
from my_krml_tyl.models.performance import assess_regressor_set

In [140]:
model = assess_regressor_set(model, X_test, y_test, 'Testing')

RMSE Testing: 224.15951157797332
MAE Testing: 156.96717420619134

In [141]:
dump(model,  '../models/adaboost.joblib')

['../models/adaboost.joblib']

In [142]:
X_train['cabinCode'].unique()

array([0., 3., 1., 2.])

In [143]:
from sklearn.pipeline import Pipeline

In [144]:
num_transformer = Pipeline(
    steps=[
        ('scaler', scaler)
    ]
)
cat_transformer = Pipeline(
    steps=[
        ('one_hot_encoder', ohe)
    ]
)
cabin_ord_transformer = Pipeline(
            steps=[
                ('ordinal_encoder', cabin_ord)
            ]
        )

In [145]:
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num_cols', num_transformer, num_cols),
        ('cat_cols', cat_transformer, cat_cols),
        ('cabin_col', cabin_ord_transformer, ['cabinCode'])
    ]
)

In [146]:
import joblib

In [147]:
dt_pipe = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('adaboost', model)
    ]
)

In [148]:
dt_pipe.fit(df_cleaned, target)

Unexpected exception formatting exception. Falling back to standard exception
Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/formatters.py", line 223, in catch_format_error
    r = method(self, *args, **kwargs)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/formatters.py", line 974, in __call__
    return method(include=include, exclude=exclude)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/sklearn/base.py", line 633, in _repr_mimebundle_
    output["text/html"] = estimator_html_repr(self)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/sklearn/utils/_estimator_html_repr.py", line 418, in estimator_html_repr
    _write_estimator_html(
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/sklearn/utils/_estimator_html_repr.py", line 171, in _write_estimator_html
    _write_estimator_html(out, est, name, name_details)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/sklearn/utils/_estimator_html_repr.py", line 154, in _write_estimator_html
    with config_context(print_changed_only=True):
  File "/Users/holys/.pyenv/versions/3.9.13/lib/python3.9/contextlib.py", line 119, in __enter__
    return next(self.gen)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/sklearn/_config.py", line 339, in config_context
TypeError: set_config() got an unexpected keyword argument 'enable_metadata_routing'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/ultratb.py", line 792, in lines
    return self._sd.lines
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/executing/executing.py", line 116, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0
Traceback (most recent call last):
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/formatters.py", line 223, in catch_format_error
    r = method(self, *args, **kwargs)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/formatters.py", line 344, in __call__
    return method()
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/sklearn/base.py", line 627, in _repr_html_inner
    return estimator_html_repr(self)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/sklearn/utils/_estimator_html_repr.py", line 418, in estimator_html_repr
    _write_estimator_html(
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/sklearn/utils/_estimator_html_repr.py", line 171, in _write_estimator_html
    _write_estimator_html(out, est, name, name_details)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/sklearn/utils/_estimator_html_repr.py", line 154, in _write_estimator_html
    with config_context(print_changed_only=True):
  File "/Users/holys/.pyenv/versions/3.9.13/lib/python3.9/contextlib.py", line 119, in __enter__
    return next(self.gen)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/sklearn/_config.py", line 339, in config_context
TypeError: set_config() got an unexpected keyword argument 'enable_metadata_routing'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/IPython/core/ultratb.py", line 792, in lines
    return self._sd.lines
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
  File "/Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages/executing/executing.py", line 116, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num_cols',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  ['isBasicEconomy',
                                                   'isRefundable', 'isNonStop',
                                                   'flightDepartureHour',
                                                   'flightDepartureMinute',
                                                   'flightDate_month',
                                                   'flightDate_day',
                                                   'flightDate_dow']),
                                                 ('cat_cols',
                                                  Pipeline(steps=[('one_hot_encoder',
                                                                   OneHotEncoder(drop='first',
                                                                                 sparse_output=False))]),
                                                  ['startingAirport',
                                                   'destinationAirport']),
                                                 ('cabin_col',
                                                  Pipeline(steps=[('ordinal_encoder',
                                                                   OrdinalEncoder(categories=[['c',
                                                                                               'p',
                                                                                               'f',
                                                                                               'b']]))]),
                                                  ['cabinCode'])])),
                ('adaboost', None)])

In [ ]:
dt_pipe.predict(df_cleaned)

array([440.88178412, 440.88178412, 440.41666381, ..., 443.78515233,
       443.78515233, 443.78515233])

In [ ]:
joblib.dump(dt_pipe,  '../models/adaboost.joblib')

['../models/adaboost.joblib']

In [ ]:
df_cleaned.columns

Index(['startingAirport', 'destinationAirport', 'isBasicEconomy',
       'isRefundable', 'isNonStop', 'totalTravelDistance', 'flightDuration',
       'cabinCode', 'flightDepartureHour', 'flightDepartureMinute',
       'flightDate_month', 'flightDate_day', 'flightDate_dow'],
      dtype='object')

In [ ]:
isNonStop = True
features_transit = pd.DataFrame({'flightDate_month': 11, 
                                'flightDate_day': 8, 
                                'flightDate_dow': 3, 
                                'flightDepartureHour': 10, 
                                'flightDepartureMinute': 10,
                                'isBasicEconomy': True,
                                'isRefundable': False,
                                'isNonStop': isNonStop, 
                                'startingAirport': 'CLT', 
                                'destinationAirport': 'DFW', 
                                'cabinCode': 'p'}, index=[0])

In [ ]:
predict_fare_transit = dt_pipe.predict(features_transit)
predict_fare_transit

array([903.94591181])