In [ ]:
%load_ext autoreload
%autoreload 2

In [1]:
! pip install -i https://test.pypi.org/simple/ my-krml-tyl==0.1.4

Looking in indexes: https://test.pypi.org/simple/
Collecting my-krml-tyl==0.1.4
  Obtaining dependency information for my-krml-tyl==0.1.4 from https://test-files.pythonhosted.org/packages/a3/b9/504da8d84b92b869186d9876be748b1b0be5250adffed693ba93bf233003/my_krml_tyl-0.1.4-py3-none-any.whl.metadata
  Using cached https://test-files.pythonhosted.org/packages/a3/b9/504da8d84b92b869186d9876be748b1b0be5250adffed693ba93bf233003/my_krml_tyl-0.1.4-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: pandas==2.0.1 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from my-krml-tyl==0.1.4) (2.0.1)
Requirement already satisfied: scikit-learn==1.2.2 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from my-krml-tyl==0.1.4) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-tyl==0.1.4) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-tyl==0.1.4) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-tyl==0.1.4) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-tyl==0.1.4) (1.25.2)
Requirement already satisfied: scipy>=1.3.2 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from scikit-learn==1.2.2->my-krml-tyl==0.1.4) (1.9.3)
Requirement already satisfied: joblib>=1.1.1 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from scikit-learn==1.2.2->my-krml-tyl==0.1.4) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from scikit-learn==1.2.2->my-krml-tyl==0.1.4) (3.2.0)
Requirement already satisfied: six>=1.5 in /Users/holys/Library/Caches/pypoetry/virtualenvs/adv-mla-at3-CsoiBpiB-py3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas==2.0.1->my-krml-tyl==0.1.4) (1.16.0)
Using cached https://test-files.pythonhosted.org/packages/a3/b9/504da8d84b92b869186d9876be748b1b0be5250adffed693ba93bf233003/my_krml_tyl-0.1.4-py3-none-any.whl (16 kB)
Installing collected packages: my-krml-tyl
Successfully installed my-krml-tyl-0.1.4

In [2]:
import pandas as pd
import numpy as np

In [428]:
from pathlib import Path
import glob
import os
path = r'../data/raw/SFO'                     # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df = pd.concat(df_from_each_file,ignore_index=True)

#concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
#chunks = pd.read_csv('../data/raw/ATL/ATL_itineraries_aa.csv')
#chunks.shape

In [429]:
display(concatenated_df.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949046 entries, 0 to 949045
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              949046 non-null  object
 1   searchDate                         949046 non-null  object
 2   flightDate                         949046 non-null  object
 3   startingAirport                    949046 non-null  object
 4   destinationAirport                 949046 non-null  object
 5   travelDuration                     949046 non-null  object
 6   isBasicEconomy                     949046 non-null  bool
 7   isRefundable                       949046 non-null  bool
 8   isNonStop                          949046 non-null  bool
 9   totalFare                          949046 non-null  float64
 10  totalTravelDistance                942658 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  949046 non-null  object
 12  segmentsDepartureTimeRaw           949046 non-null  object
 13  segmentsArrivalTimeEpochSeconds    949046 non-null  object
 14  segmentsArrivalTimeRaw             949046 non-null  object
 15  segmentsArrivalAirportCode         949046 non-null  object
 16  segmentsDepartureAirportCode       949046 non-null  object
 17  segmentsAirlineName                949046 non-null  object
 18  segmentsAirlineCode                949046 non-null  object
 19  segmentsEquipmentDescription       934877 non-null  object
 20  segmentsDurationInSeconds          949046 non-null  object
 21  segmentsDistance                   948527 non-null  object
 22  segmentsCabinCode                  949046 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 1.2 GB

None

In [430]:
concatenated_df.shape
#(874069, 23) (981234,23) (854536, 23) (770429, 23) (896596, 23) (747751, 23) (699628, 23) (1021938, 23 Lga) (527105, 23 oak) (894646, 23)

(949046, 23)

In [431]:
concatenated_df.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,f39366f5ca677b2f847019a810c74889,2022-05-11,2022-05-13,SFO,ATL,PT9H44M,False,False,False,348.62,...,1652487480||1652501400,2022-05-13T20:18:00.000-04:00||2022-05-14T00:1...,JFK||ATL,SFO||JFK,JetBlue Airways||JetBlue Airways,B6||B6,Airbus A319-321||Airbus A320,21120||9000,2566||762,coach||coach
1,e5beb32487be14ac99442b9774f58f2b,2022-05-11,2022-05-13,SFO,ATL,PT4H54M,False,False,True,363.99,...,1652528940,2022-05-14T07:49:00.000-04:00,ATL,SFO,Frontier Airlines,F9,Airbus A320,17640,2135,coach
2,66bc7d36c9761be52da1abd889b54406,2022-05-11,2022-05-13,SFO,ATL,PT6H41M,False,False,False,370.60,...,1652452200||1652469060,2022-05-13T07:30:00.000-07:00||2022-05-13T15:1...,PHX||ATL,SFO||PHX,American Airlines||American Airlines,AA||AA,Boeing 737-800||Airbus A321,7200||12960,652||1584,coach||coach
3,393f7b20e1f58a2a80f134cde559d0fa,2022-05-11,2022-05-13,SFO,ATL,PT6H57M,False,False,False,370.60,...,1652453460||1652469120,2022-05-13T08:51:00.000-06:00||2022-05-13T15:1...,DEN||ATL,SFO||DEN,United||United,UA||UA,Boeing 737 MAX 9||Embraer 175 (Enhanced Winglets),9360||11220,954||1207,coach||coach
4,34fda5185f1589108c6a40980c874d75,2022-05-11,2022-05-13,SFO,ATL,PT7H2M,False,False,False,370.60,...,1652488140||1652500440,2022-05-13T19:29:00.000-05:00||2022-05-13T23:5...,DFW||ATL,SFO||DFW,American Airlines||American Airlines,AA||AA,Airbus A321||Airbus A321,13020||7680,1468||725,coach||coach

In [432]:
df_atl = concatenated_df.sample(n=50000, random_state=42,axis='index')

In [433]:
df_atl.shape

(50000, 23)

In [434]:
df_atl.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 149845 to 700029
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   legId                              50000 non-null  object
 1   searchDate                         50000 non-null  object
 2   flightDate                         50000 non-null  object
 3   startingAirport                    50000 non-null  object
 4   destinationAirport                 50000 non-null  object
 5   travelDuration                     50000 non-null  object
 6   isBasicEconomy                     50000 non-null  bool
 7   isRefundable                       50000 non-null  bool
 8   isNonStop                          50000 non-null  bool
 9   totalFare                          50000 non-null  float64
 10  totalTravelDistance                49672 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  50000 non-null  object
 12  segmentsDepartureTimeRaw           50000 non-null  object
 13  segmentsArrivalTimeEpochSeconds    50000 non-null  object
 14  segmentsArrivalTimeRaw             50000 non-null  object
 15  segmentsArrivalAirportCode         50000 non-null  object
 16  segmentsDepartureAirportCode       50000 non-null  object
 17  segmentsAirlineName                50000 non-null  object
 18  segmentsAirlineCode                50000 non-null  object
 19  segmentsEquipmentDescription       49241 non-null  object
 20  segmentsDurationInSeconds          50000 non-null  object
 21  segmentsDistance                   49977 non-null  object
 22  segmentsCabinCode                  50000 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 65.0 MB

In [435]:
df_atl.memory_usage(deep=True)

Index                                 400000
legId                                4450000
searchDate                           3350000
flightDate                           3350000
startingAirport                      3000000
destinationAirport                   3000000
travelDuration                       3206241
isBasicEconomy                         50000
isRefundable                           50000
isNonStop                              50000
totalFare                             400000
totalTravelDistance                   400000
segmentsDepartureTimeEpochSeconds    3850736
segmentsDepartureTimeRaw             5593568
segmentsArrivalTimeEpochSeconds      3850736
segmentsArrivalTimeRaw               5593568
segmentsArrivalAirportCode           3208640
segmentsDepartureAirportCode         3208640
segmentsAirlineName                  3872125
segmentsAirlineCode                  3116912
segmentsEquipmentDescription         4188130
segmentsDurationInSeconds            3345923
segmentsDistance                     3254667
segmentsCabinCode                    3393860
dtype: int64

In [436]:
df_atl["searchDate"] = df_atl["searchDate"].astype('datetime64[ns]')
df_atl["flightDate"] = df_atl["flightDate"].astype('datetime64[ns]')

In [437]:
df_atl.memory_usage(deep=True)

Index                                 400000
legId                                4450000
searchDate                            400000
flightDate                            400000
startingAirport                      3000000
destinationAirport                   3000000
travelDuration                       3206241
isBasicEconomy                         50000
isRefundable                           50000
isNonStop                              50000
totalFare                             400000
totalTravelDistance                   400000
segmentsDepartureTimeEpochSeconds    3850736
segmentsDepartureTimeRaw             5593568
segmentsArrivalTimeEpochSeconds      3850736
segmentsArrivalTimeRaw               5593568
segmentsArrivalAirportCode           3208640
segmentsDepartureAirportCode         3208640
segmentsAirlineName                  3872125
segmentsAirlineCode                  3116912
segmentsEquipmentDescription         4188130
segmentsDurationInSeconds            3345923
segmentsDistance                     3254667
segmentsCabinCode                    3393860
dtype: int64

In [438]:
df_atl.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 149845 to 700029
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   legId                              50000 non-null  object
 1   searchDate                         50000 non-null  datetime64[ns]
 2   flightDate                         50000 non-null  datetime64[ns]
 3   startingAirport                    50000 non-null  object
 4   destinationAirport                 50000 non-null  object
 5   travelDuration                     50000 non-null  object
 6   isBasicEconomy                     50000 non-null  bool
 7   isRefundable                       50000 non-null  bool
 8   isNonStop                          50000 non-null  bool
 9   totalFare                          50000 non-null  float64
 10  totalTravelDistance                49672 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  50000 non-null  object
 12  segmentsDepartureTimeRaw           50000 non-null  object
 13  segmentsArrivalTimeEpochSeconds    50000 non-null  object
 14  segmentsArrivalTimeRaw             50000 non-null  object
 15  segmentsArrivalAirportCode         50000 non-null  object
 16  segmentsDepartureAirportCode       50000 non-null  object
 17  segmentsAirlineName                50000 non-null  object
 18  segmentsAirlineCode                50000 non-null  object
 19  segmentsEquipmentDescription       49241 non-null  object
 20  segmentsDurationInSeconds          50000 non-null  object
 21  segmentsDistance                   49977 non-null  object
 22  segmentsCabinCode                  50000 non-null  object
dtypes: bool(3), datetime64[ns](2), float64(2), object(16)
memory usage: 59.4 MB

In [439]:
def mem_usage(obj):
    if isinstance(obj, pd.DataFrame):
        usage_b = obj.memory_usage(deep=True).sum()
    else: # we assume if not a df then it's a series
        usage_b = obj.memory_usage(deep=True)

    usage_mb = usage_b / 1024 ** 2     # bytes to megabytes    
    return "{:03.2f} MB".format(usage_mb)

In [440]:
def downcast_type(df, old_type, new_type):
    # get all the columns with the specified type – old_type
    df_oldtype = df.select_dtypes(include=[old_type])

    # convert all the columns from old_type to new_type
    df_newtype = df_oldtype.apply(pd.to_numeric, downcast=new_type)
 
    # print out the memory usage of old_type and new_type
    print(f'{old_type} memory usage: {mem_usage(df_oldtype)}')
    print(f'{new_type} memory usage: {mem_usage(df_newtype)}')

    return df_newtype

In [441]:
df_converted_int = downcast_type(df_atl, "int", "unsigned")

int memory usage: 0.38 MB
unsigned memory usage: 0.38 MB

In [442]:
df_converted_float = downcast_type(df_atl, "float", "float")

float memory usage: 1.14 MB
float memory usage: 0.76 MB

In [443]:
optimized_df = df_atl.copy()
optimized_df[df_converted_int.columns] = df_converted_int
optimized_df[df_converted_float.columns] = df_converted_float

In [444]:
optimized_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 149845 to 700029
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   legId                              50000 non-null  object
 1   searchDate                         50000 non-null  datetime64[ns]
 2   flightDate                         50000 non-null  datetime64[ns]
 3   startingAirport                    50000 non-null  object
 4   destinationAirport                 50000 non-null  object
 5   travelDuration                     50000 non-null  object
 6   isBasicEconomy                     50000 non-null  bool
 7   isRefundable                       50000 non-null  bool
 8   isNonStop                          50000 non-null  bool
 9   totalFare                          50000 non-null  float32
 10  totalTravelDistance                49672 non-null  float32
 11  segmentsDepartureTimeEpochSeconds  50000 non-null  object
 12  segmentsDepartureTimeRaw           50000 non-null  object
 13  segmentsArrivalTimeEpochSeconds    50000 non-null  object
 14  segmentsArrivalTimeRaw             50000 non-null  object
 15  segmentsArrivalAirportCode         50000 non-null  object
 16  segmentsDepartureAirportCode       50000 non-null  object
 17  segmentsAirlineName                50000 non-null  object
 18  segmentsAirlineCode                50000 non-null  object
 19  segmentsEquipmentDescription       49241 non-null  object
 20  segmentsDurationInSeconds          50000 non-null  object
 21  segmentsDistance                   49977 non-null  object
 22  segmentsCabinCode                  50000 non-null  object
dtypes: bool(3), datetime64[ns](2), float32(2), object(16)
memory usage: 59.0 MB

In [445]:
df_obj = optimized_df.select_dtypes(include=['object']).copy()
df_unique_objs = df_obj.describe()

print(df_unique_objs)

                                   legId startingAirport destinationAirport
count                              50000           50000              50000  \
unique                             37193               1                 15
top     ecb86c9cbd11add1ab2bcc29102b02dd             SFO                LGA
freq                                   8           50000               4870

       travelDuration segmentsDepartureTimeEpochSeconds
count           50000                             50000  \
unique            950                             33906
top           PT5H46M                        1652706000
freq              466                                20

             segmentsDepartureTimeRaw segmentsArrivalTimeEpochSeconds
count                           50000                           50000  \
unique                          34001                           35702
top     2022-05-16T06:00:00.000-07:00                      1654081200
freq                               20                              13

               segmentsArrivalTimeRaw segmentsArrivalAirportCode
count                           50000                      50000  \
unique                          35953                       1009
top     2022-06-01T07:00:00.000-04:00                        LAX
freq                               13                       2318

       segmentsDepartureAirportCode segmentsAirlineName segmentsAirlineCode
count                         50000               50000               50000  \
unique                          345                  39                  39
top                             SFO      United||United              UA||UA
freq                          12335                8254                8254

       segmentsEquipmentDescription segmentsDurationInSeconds
count                         49241                     50000  \
unique                         1293                      7614
top                  Boeing 737-900                     20760
freq                           1711                       462

       segmentsDistance segmentsCabinCode
count             49977             50000
unique              901                25
top                2566      coach||coach
freq               3430             33100

In [446]:
df_unique_objs.iloc[1,:] / df_unique_objs.iloc[0,:] * 100

legId                                  74.386
startingAirport                         0.002
destinationAirport                       0.03
travelDuration                            1.9
segmentsDepartureTimeEpochSeconds      67.812
segmentsDepartureTimeRaw               68.002
segmentsArrivalTimeEpochSeconds        71.404
segmentsArrivalTimeRaw                 71.906
segmentsArrivalAirportCode              2.018
segmentsDepartureAirportCode             0.69
segmentsAirlineName                     0.078
segmentsAirlineCode                     0.078
segmentsEquipmentDescription         2.625861
segmentsDurationInSeconds              15.228
segmentsDistance                     1.802829
segmentsCabinCode                        0.05
dtype: object

In [447]:
df_obj_cat = df_obj.astype('category')

In [448]:
optimized_df[df_obj_cat.columns] = df_obj_cat

In [449]:
optimized_df.memory_usage(deep=True)

Index                                 400000
legId                                4566985
searchDate                            400000
flightDate                            400000
startingAirport                        50168
destinationAirport                     51456
travelDuration                        194209
isBasicEconomy                         50000
isRefundable                           50000
isNonStop                              50000
totalFare                             200000
totalTravelDistance                   200000
segmentsDepartureTimeEpochSeconds    3906378
segmentsDepartureTimeRaw             5159998
segmentsArrivalTimeEpochSeconds      4038674
segmentsArrivalTimeRaw               5357568
segmentsArrivalAirportCode            201989
segmentsDepartureAirportCode          132171
segmentsAirlineName                    54412
segmentsAirlineCode                    53585
segmentsEquipmentDescription          259712
segmentsDurationInSeconds             894778
segmentsDistance                      195545
segmentsCabinCode                      52406
dtype: int64

In [450]:
optimized_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 149845 to 700029
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   legId                              50000 non-null  category
 1   searchDate                         50000 non-null  datetime64[ns]
 2   flightDate                         50000 non-null  datetime64[ns]
 3   startingAirport                    50000 non-null  category
 4   destinationAirport                 50000 non-null  category
 5   travelDuration                     50000 non-null  category
 6   isBasicEconomy                     50000 non-null  bool
 7   isRefundable                       50000 non-null  bool
 8   isNonStop                          50000 non-null  bool
 9   totalFare                          50000 non-null  float32
 10  totalTravelDistance                49672 non-null  float32
 11  segmentsDepartureTimeEpochSeconds  50000 non-null  category
 12  segmentsDepartureTimeRaw           50000 non-null  category
 13  segmentsArrivalTimeEpochSeconds    50000 non-null  category
 14  segmentsArrivalTimeRaw             50000 non-null  category
 15  segmentsArrivalAirportCode         50000 non-null  category
 16  segmentsDepartureAirportCode       50000 non-null  category
 17  segmentsAirlineName                50000 non-null  category
 18  segmentsAirlineCode                50000 non-null  category
 19  segmentsEquipmentDescription       49241 non-null  category
 20  segmentsDurationInSeconds          50000 non-null  category
 21  segmentsDistance                   49977 non-null  category
 22  segmentsCabinCode                  50000 non-null  category
dtypes: bool(3), category(16), datetime64[ns](2), float32(2)
memory usage: 25.7 MB

In [451]:
optimized_df.to_pickle('../data/interim/optimized_sfo_df.pkl')

In [452]:

optimized_df.to_pickle('../data/interim/optimized_sfo_df.pkl')
df = pd.read_pickle('../data/interim/optimized_sfo_df.pkl')
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 149845 to 700029
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   legId                              50000 non-null  category
 1   searchDate                         50000 non-null  datetime64[ns]
 2   flightDate                         50000 non-null  datetime64[ns]
 3   startingAirport                    50000 non-null  category
 4   destinationAirport                 50000 non-null  category
 5   travelDuration                     50000 non-null  category
 6   isBasicEconomy                     50000 non-null  bool
 7   isRefundable                       50000 non-null  bool
 8   isNonStop                          50000 non-null  bool
 9   totalFare                          50000 non-null  float32
 10  totalTravelDistance                49672 non-null  float32
 11  segmentsDepartureTimeEpochSeconds  50000 non-null  category
 12  segmentsDepartureTimeRaw           50000 non-null  category
 13  segmentsArrivalTimeEpochSeconds    50000 non-null  category
 14  segmentsArrivalTimeRaw             50000 non-null  category
 15  segmentsArrivalAirportCode         50000 non-null  category
 16  segmentsDepartureAirportCode       50000 non-null  category
 17  segmentsAirlineName                50000 non-null  category
 18  segmentsAirlineCode                50000 non-null  category
 19  segmentsEquipmentDescription       49241 non-null  category
 20  segmentsDurationInSeconds          50000 non-null  category
 21  segmentsDistance                   49977 non-null  category
 22  segmentsCabinCode                  50000 non-null  category
dtypes: bool(3), category(16), datetime64[ns](2), float32(2)
memory usage: 20.2 MB

In [455]:
list_of_files = Path('../data/interim/').glob('*.pkl')

df_final = pd.concat(pd.read_pickle(f) for f in list_of_files)
df_final.shape

(810000, 23)

In [456]:
df_final.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 810000 entries, 749479 to 707264
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              810000 non-null  object
 1   searchDate                         810000 non-null  datetime64[ns]
 2   flightDate                         810000 non-null  datetime64[ns]
 3   startingAirport                    810000 non-null  object
 4   destinationAirport                 810000 non-null  object
 5   travelDuration                     810000 non-null  object
 6   isBasicEconomy                     810000 non-null  bool
 7   isRefundable                       810000 non-null  bool
 8   isNonStop                          810000 non-null  bool
 9   totalFare                          810000 non-null  float32
 10  totalTravelDistance                752608 non-null  float32
 11  segmentsDepartureTimeEpochSeconds  810000 non-null  object
 12  segmentsDepartureTimeRaw           810000 non-null  object
 13  segmentsArrivalTimeEpochSeconds    810000 non-null  object
 14  segmentsArrivalTimeRaw             810000 non-null  object
 15  segmentsArrivalAirportCode         810000 non-null  object
 16  segmentsDepartureAirportCode       810000 non-null  object
 17  segmentsAirlineName                810000 non-null  object
 18  segmentsAirlineCode                810000 non-null  object
 19  segmentsEquipmentDescription       794813 non-null  object
 20  segmentsDurationInSeconds          810000 non-null  object
 21  segmentsDistance                   802756 non-null  object
 22  segmentsCabinCode                  810000 non-null  object
dtypes: bool(3), datetime64[ns](2), float32(2), object(16)
memory usage: 952.4 MB

In [457]:
df_converted_int = downcast_type(df_final, "int", "unsigned")
df_converted_float = downcast_type(df_final, "float", "float")

int memory usage: 6.18 MB
unsigned memory usage: 6.18 MB
float memory usage: 12.36 MB
float memory usage: 12.36 MB

In [459]:
optimized_df = df_final.copy()
optimized_df[df_converted_int.columns] = df_converted_int
optimized_df[df_converted_float.columns] = df_converted_float

In [460]:
df_obj = optimized_df.select_dtypes(include=['object']).copy()
df_unique_objs = df_obj.describe()

print(df_unique_objs)

                                   legId startingAirport destinationAirport
count                             810000          810000             810000  \
unique                            547576              16                 16
top     4c30d9e661ee54356adc64b60dedd565             BOS                LAX
freq                                   9           60000              81019

       travelDuration segmentsDepartureTimeEpochSeconds
count          810000                            810000  \
unique           1436                            423399
top           PT1H25M                        1653040800
freq             3187                               124

             segmentsDepartureTimeRaw segmentsArrivalTimeEpochSeconds
count                          810000                          810000  \
unique                         452290                          464811
top     2022-05-20T06:00:00.000-04:00                      1653105540
freq                              117                              37

               segmentsArrivalTimeRaw segmentsArrivalAirportCode
count                          810000                     810000  \
unique                         490193                       3678
top     2022-05-24T23:59:00.000-04:00                        BOS
freq                               31                      21300

       segmentsDepartureAirportCode                   segmentsAirlineName
count                        810000                                810000  \
unique                         3681                                   106
top                             BOS  American Airlines||American Airlines
freq                          21849                                141085

       segmentsAirlineCode segmentsEquipmentDescription
count               810000                       794813  \
unique                 106                         4253
top                 AA||AA               Boeing 737-800
freq                141085                        42728

       segmentsDurationInSeconds segmentsDistance segmentsCabinCode
count                     810000           802756            810000
unique                     56451             7550                37
top                         5100       None||None      coach||coach
freq                        3187            48302            507091

In [461]:
df_unique_objs.iloc[1,:] / df_unique_objs.iloc[0,:] * 100

legId                                67.601975
startingAirport                       0.001975
destinationAirport                    0.001975
travelDuration                        0.177284
segmentsDepartureTimeEpochSeconds    52.271481
segmentsDepartureTimeRaw             55.838272
segmentsArrivalTimeEpochSeconds      57.384074
segmentsArrivalTimeRaw               60.517654
segmentsArrivalAirportCode            0.454074
segmentsDepartureAirportCode          0.454444
segmentsAirlineName                   0.013086
segmentsAirlineCode                   0.013086
segmentsEquipmentDescription          0.535094
segmentsDurationInSeconds             6.969259
segmentsDistance                       0.94051
segmentsCabinCode                     0.004568
dtype: object

In [462]:
df_obj_cat = df_obj.astype('category')

In [463]:
optimized_df[df_obj_cat.columns] = df_obj_cat

In [464]:
optimized_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 810000 entries, 749479 to 707264
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              810000 non-null  category
 1   searchDate                         810000 non-null  datetime64[ns]
 2   flightDate                         810000 non-null  datetime64[ns]
 3   startingAirport                    810000 non-null  category
 4   destinationAirport                 810000 non-null  category
 5   travelDuration                     810000 non-null  category
 6   isBasicEconomy                     810000 non-null  bool
 7   isRefundable                       810000 non-null  bool
 8   isNonStop                          810000 non-null  bool
 9   totalFare                          810000 non-null  float32
 10  totalTravelDistance                752608 non-null  float32
 11  segmentsDepartureTimeEpochSeconds  810000 non-null  category
 12  segmentsDepartureTimeRaw           810000 non-null  category
 13  segmentsArrivalTimeEpochSeconds    810000 non-null  category
 14  segmentsArrivalTimeRaw             810000 non-null  category
 15  segmentsArrivalAirportCode         810000 non-null  category
 16  segmentsDepartureAirportCode       810000 non-null  category
 17  segmentsAirlineName                810000 non-null  category
 18  segmentsAirlineCode                810000 non-null  category
 19  segmentsEquipmentDescription       794813 non-null  category
 20  segmentsDurationInSeconds          810000 non-null  category
 21  segmentsDistance                   802756 non-null  category
 22  segmentsCabinCode                  810000 non-null  category
dtypes: bool(3), category(16), datetime64[ns](2), float32(2)
memory usage: 394.7 MB

In [465]:
optimized_df.to_pickle('../data/processed/optimized_df.pkl')
df = pd.read_pickle('../data/processed/optimized_df.pkl')
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 810000 entries, 749479 to 707264
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              810000 non-null  category
 1   searchDate                         810000 non-null  datetime64[ns]
 2   flightDate                         810000 non-null  datetime64[ns]
 3   startingAirport                    810000 non-null  category
 4   destinationAirport                 810000 non-null  category
 5   travelDuration                     810000 non-null  category
 6   isBasicEconomy                     810000 non-null  bool
 7   isRefundable                       810000 non-null  bool
 8   isNonStop                          810000 non-null  bool
 9   totalFare                          810000 non-null  float32
 10  totalTravelDistance                752608 non-null  float32
 11  segmentsDepartureTimeEpochSeconds  810000 non-null  category
 12  segmentsDepartureTimeRaw           810000 non-null  category
 13  segmentsArrivalTimeEpochSeconds    810000 non-null  category
 14  segmentsArrivalTimeRaw             810000 non-null  category
 15  segmentsArrivalAirportCode         810000 non-null  category
 16  segmentsDepartureAirportCode       810000 non-null  category
 17  segmentsAirlineName                810000 non-null  category
 18  segmentsAirlineCode                810000 non-null  category
 19  segmentsEquipmentDescription       794813 non-null  category
 20  segmentsDurationInSeconds          810000 non-null  category
 21  segmentsDistance                   802756 non-null  category
 22  segmentsCabinCode                  810000 non-null  category
dtypes: bool(3), category(16), datetime64[ns](2), float32(2)
memory usage: 279.1 MB